@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body{
  color: rgb(47, 46, 46);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#main-ctn{
   display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
}

#form-ctn{
  max-width: 570px;
  width: 100%;
   display: flex;
   flex-direction: column;
   /* background-color: rgb(248, 223, 189);  */
   padding: 20px;
   gap:20px 
}

@media screen and (max-width : 480px) {
  #main-ctn{
     padding: 20px 0px;
 }
#form-ctn{
  max-width: 90%;
}
}

.form-label{
  display: flex;
  flex-direction: column;
  gap: 15px;

}
.form-label input{
  padding: 15px;
  border: 1px solid #dde3ec;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #07074d;
}


::placeholder{
  color: #536387;
  font-size:15px;
  padding: 0 5px;
}
.form-label input:focus{
  border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.form-select-ctn{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-select{
  padding: 15px;
  border: 1px solid #dde3ec;
  border-radius: 5px;
  outline: none;
  color: #536387;
  font-size:15px;
}
.form-select:focus{
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}


.form-radio-ctn , .form-radio-ctn2 {
  display: flex;
  flex-direction: column;
  gap:15px;
  cursor: pointer;
}


.from-radio-grp2 input , .form-radio-grp input{
  margin-right: 5px;
  cursor: pointer;
}
.form-comment-ctn{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.from-radio-sub-ctn , .from-radio-sub-ctn2{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.comment-ctn-textarea{
  padding: 13px 22px;
  border: 1px solid #dde3ec;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #07074d;
}
.comment-ctn-textarea:focus{
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

button{
  background-color: #6a64f1;
  border: none;
  padding:  14px 25px;
  border-radius: 5px;
  margin: 5px 0;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
button:active{
  background-color: #8983fa;
}

/* for validation issue */
.form-label-error{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-label-error input{
  padding: 15px;
  border: 1px solid #ce0d0d;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #07074d;
}

.form-select-error{
   padding: 15px;
    border: 1px solid #e22528;
    border-radius: 5px;
    outline: none;
    color: #536387;
    font-size: 15px;
}

.comment-ctn-error{
  padding: 13px 22px;
  border: 1px solid #e22528;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #07074d;
}


